<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.phone_number %></p>

<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %><%= review.rating %></li>
  <% end %>
</ul>

<a href="/restaurants" class="btn btn-primary"> <%= "Back"  %></a>
<a href="restaurants/new" class="btn btn-primary"> <%= "Add Restaurant"  %></a>
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
